<%- include('../public/Partials/Header.ejs') %>
  <!-- Hero Section  -->
  <section id="hero">
    <div class="hero container">
      <div>
        <h1>The <span></span></h1>
        <h1>Future<span></span></h1>
        <h1>Spark Academy<span></span></h1>
        <div class="dropdown">Join now
            <ul class="dropdown-menu">
              <li> <a href="/register">Register</a></li>
              <li> <a href="/login">Login</a></li>
            </ul>
        </div>  
      </div>
    </div>
  </section>

  <!-- End Hero Section  -->
<%- include('../public/Partials/Footer.ejs') %>