<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Reset Password</title>
</head>
<body>
    <form action="/reset" method="post">
        <div class="group">
            <label for="username">Roll No : </label>
            <input type="text" class="form-input" name="username" required>
        </div>
        <br>
        <div class="group">
            <label for="newpassword">New Password : </label>
            <input type="text" class="form-input" name="newpassword" required>
        </div>
        <br>
        <div class="group">
            <label for="conformpassword">Conform Password : </label>
            <input type="text" class="form-input" name="conformpassword" required>
        </div>
        <br>
        <button type="submit" class="login-btn" >Reset</button>
        <br>
    </form>
</body>
</html>