        </main>

        <section id="about">
          <div class="about container">
            <div class="col-left">
              <div class="about-img">
                <img src="../components/images/4.jpg" alt="Logo" />
              </div>
            </div>
            <div class="col-right">
              <h1 class="section-title">About <span>Us</span></h1>
              <h2>Spark Academy</h2>
              <p>At Spark Academy, we believe that education is the spark that lights the path
                to a brighter future. Our commitment to excellence drives us to provide unparalleled educational 
                experiences that cultivate critical thinking, creativity, and collaboration. With a
                 supportive community and a focus on personalized learning, we strive to empower every student to excel 
                 academically and thrive as confident, compassionate leaders in an ever-changing world. Discover the Spark difference and 
                 embark on a transformative educational journey with us today.</p>
            </div>
          </div>
        </section>

    <!-- Projects Section -->
    <section id="projects">
        <div class="projects container">
          <div class="projects-header">
            <h1 class="section-title">Our <span>academy</span></h1>
          </div>
          <div class="all-projects">
            <div class="project-item">
              <div class="project-info">
                <h1>Spark</h1>
                <h2>Study with love</h2>
                <p>"At Spark Academy, studying is not just a task, but a voyage of exploration. Our dynamic approach
                   to learning fosters curiosity and cultivates a love for knowledge. Through personalized guidance
                    and interactive sessions, we empower students to thrive academically. Join us as we redefine the
                     art of studying and embark on a journey of intellectual growth and discovery...</p>
              </div>
              <div class="project-img">
                <img src="../components/images/7.jpg" />
              </div>
              </div>
              <div class="project-item">
                <div class="project-info">
                  <h1>Sports</h1>
                  <h2>Building Champions On and Off the Field</h2>
                  <p>We understand the importance of sports in fostering teamwork, discipline,
                     and physical well-being. Our comprehensive sports program offers students the opportunity to
                      develop their athletic abilities while learning important life skills. Whether it's on 
                      the field, court, or track, our dedicated coaches provide expert guidance and encouragement
                      to help students reach their full potential. Join us in embracing the thrill of competition,
                       the camaraderie of teamwork, and the joy of sportsmanship at Spark Academy...</p>
                </div>
                <div class="project-img">
                  <img src="../components/images/6.jpg" />
                </div>
              </div>
              <div class="project-item">
                <div class="project-info">
                  <h1>Teaching</h1>
                  <h2> Faculty Excellence at Spark Academy</h2>
                  <p>At Spark Academy, our faculty is the heartbeat of our institution, comprising dedicated
                     educators who are passionate about inspiring and empowering students. With diverse
                      backgrounds and expertise, our faculty members bring a wealth of knowledge and experience
                       to the classroom. Through personalized 
                      attention and innovative teaching methods, our faculty ensures that each student receives 
                      the guidance they need to succeed academically and beyond. Join us in celebrating the
                       remarkable contributions of our esteemed faculty at Spark Academy...</p>
                </div>
                <div class="project-img">
                  <img src="../components/images/5.jpg" />
                </div>
              </div>
              <div class="project-item">
                <div class="project-info">
                  <h1>Enviroment</h1>
                  <h2>Creating a Sustainable Haven</h2>
                  <p>At Spark Academy, we're committed to cultivating an environment that nurtures
                     both academic excellence and personal growth. Our campus is designed 
                     to inspire creativity, collaboration, and curiosity, with state-of-the-art
                      facilities and green spaces that promote well-being. We prioritize 
                      sustainability and environmental stewardship. Through eco-friendly initiatives
                       and community engagement, we strive to create a positive impact on our planet.
                        Join us in fostering a culture of respect, responsibility, and resilience
                         in our vibrant learning environment at Spark Academy</p>
                </div>
                <div class="project-img">
                  <img src="../components/images/1.jpg" />
                </div>
              </div>
              </div>
            </div>
          </div>
        </section>
        <!-- End Projects Section -->

          <section id="contact">
            <div class="contact container">
              <div>
                <h1 class="section-title">Contact <span>info</span></h1>
              </div>
              <div class="contact-items">
                <div class="contact-item">
                  <div class="icon"><img src="../components/images/2.png" /></div>
                  <div class="contact-info">
                    <h1>Phone</h1>
                    <h2>234 123 1234</h2>
                    <h2>234 123 1234</h2>
                  </div>
                </div>
                <div class="contact-item">
                  <div class="icon"><img src="../components/images/2.png" /></div>
                  <div class="contact-info">
                    <h1>Email</h1>
                    <h2>sparkacademy@gmail.com</h2>
                    <h2>abcd@gmail.com</h2>
                  </div>
                </div>
                <div class="contact-item">
                  <div class="icon"><img src="../components/images/2.png" /></div>
                  <div class="contact-info">
                    <h1>Address</h1>
                    <h2>vijayawada</h2>
                  </div>
                </div>
              </div>
            </div>
          </section>
          
        <section id="footer">
            <div class="footer container">
              <div class="brand">
                <h1><span>S</span>park <span>A</span>cademy</h1>
              </div>
              <h2>Make bright fruture here</h2>
              <div class="social-icon">
                <div class="social-item">
                  <a href="#"><img src="" /></a>
                </div>
                <div class="social-item">
                  <a href="#"><img src="" /></a>
                </div>
                <div class="social-item">
                  <a href="#"><img src="" /></a>
                </div>
                <div class="social-item">
                  <a href="#"><img src="" /></a>
                </div>
              </div>
              <p id="copyrights">Academy&nbsp;&copy; <span class="year"></span> </p>
            </div>
          </section>

        <script>
            let date = new Date();
            today = date.getFullYear();
        
            let yearElement = document.querySelector(".year");
            yearElement.textContent = today;
        </script>
        <script src="../app.js"></script>
        
    </body>
</html>