<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Spark Academy</title>
    <link rel="icon" href="../components/images/2.png" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="../components/styles/main.css">
</head>
<body>
  <section id="header">
    <div class="header container">
      <div class="nav-bar">
        <div class="navbar-logo">
          <img src="../components/images/2.png" alt="Logo" class="navbar-logo-img" />
        </div>
        <div class="brand">
            <h1><span>S</span>park  <span>A</span>cademy</h1>
          </a>
        </div>
        <div class="nav-list">
          <div class="hamburger">
            <div class="bar"></div>
          </div>
          <ul>
            <li><a href="/" data-after="Home">Home</a></li>
            <li><a href="#about" data-after="About">About</a></li>
            <li><a href="#contact" data-after="contact">Contact Us</a></li>
            <li><a href="/login" data-after="Sign In">Sign In</a></li>
            
          </ul>
        </div>
      </div>
    </div>
  </section>
  <!-- End Header -->

    <main>
