@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap');

::after,
::before {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
}

li {
    list-style: none;
}

h1 {
    font-weight: 600;
    font-size: 1.5rem;
}

body {
    font-family: 'Montserrat', sans-serif;
}

.wrapper {
    display: flex;
}

.main {
    min-height: 100vh;
    width: 100%;
    overflow: hidden;
    transition: all 0.35s ease-in-out;
    background-color: #fafbfe;
}

#sidebar {
    width: 70px;
    min-width: 70px;
    z-index: 1000;
    transition: all .25s ease-in-out;
    background-color: #0e2238;
    display: flex;
    flex-direction: column;
}

#sidebar.expand {
    width: 260px;
    min-width: 260px;
}

.toggle-btn {
    background-color: transparent;
    cursor: pointer;
    border: 0;
    padding: 1rem 1.5rem;
}

.toggle-btn i {
    font-size: 1.5rem;
    color: #FFF;
}

.sidebar-logo {
    margin: auto 0;
}

.sidebar-logo a {
    color: #FFF;
    font-size: 1.15rem;
    font-weight: 600;
}

#sidebar:not(.expand) .sidebar-logo,
#sidebar:not(.expand) a.sidebar-link span {
    display: none;
}

.sidebar-nav {
    padding: 2rem 0;
    flex: 1 1 auto;
}

a.sidebar-link {
    padding: .625rem 1.625rem;
    color: #FFF;
    display: block;
    font-size: 0.9rem;
    white-space: nowrap;
    border-left: 3px solid transparent;
}

.sidebar-link i {
    font-size: 1.1rem;
    margin-right: .75rem;
}

a.sidebar-link:hover {
    background-color: rgba(255, 255, 255, .075);
    border-left: 3px solid #3b7ddd;
}

.sidebar-item {
    position: relative;
}

#sidebar:not(.expand) .sidebar-item .sidebar-dropdown {
    position: absolute;
    top: 0;
    left: 70px;
    background-color: #0e2238;
    padding: 0;
    min-width: 15rem;
    display: none;
}

#sidebar:not(.expand) .sidebar-item:hover .has-dropdown+.sidebar-dropdown {
    display: block;
    max-height: 15em;
    width: 100%;
    opacity: 1;
}

#sidebar.expand .sidebar-link[data-bs-toggle="collapse"]::after {
    border: solid;
    border-width: 0 .075rem .075rem 0;
    content: "";
    display: inline-block;
    padding: 2px;
    position: absolute;
    right: 1.5rem;
    top: 1.4rem;
    transform: rotate(-135deg);
    transition: all .2s ease-out;
}

#sidebar.expand .sidebar-link[data-bs-toggle="collapse"].collapsed::after {
    transform: rotate(45deg);
    transition: all .2s ease-out;
}


/* General styles */
#header {
	background-color: #333; /* Set background color */
	color: #fff; /* Set text color */
	padding: 15px 0; /* Add padding */

  }
  
  .header {
	display: flex; /* Use flexbox for layout */
	justify-content: space-between; /* Align items to the start and end of the container */
	align-items: center; /* Vertically center items */
  }
  
  .nav-bar {
	display: flex; /* Use flexbox for layout */
	align-items: center; /* Vertically center items */
  }
  
  .navbar-logo-img {
	width: 50px; /* Set the width of the logo image */
	height: auto; /* Maintain aspect ratio */
	border-radius: 30px;
  }
  
  .brand h1 {
	margin-left: 100px;

  }
  
  .brand h1 span {

	color: rgb(246, 0, 0); /* Set color for span elements */
  }
  
  .nick {
	margin-left: 300px; 
	font-size: 20px;
	text-transform: uppercase;
    font-family: 'Montserrat', sans-serif;
	color: rgb(255, 255, 255);/* Push the nick section to the right */
  }
  
  /* Table styles */
  .nick table {
	border-collapse: collapse; /* Collapse table borders */
  }
  
  .nick td {
	padding: 5px 10px; /* Add padding to table cells */
	border: 1px solid #fff; /* Add border around table cells */
  }
  
  /* Additional styles for field_name and field_value */
  .field_name {
	font-weight: bold; /* Make field names bold */
  }
  
  .field_value {
	padding-left: 10px; /* Add padding to the left of field values */
  }

  .data{
    background: linear-gradient(#e2c7c7,#ecedb7);
    display: flex;
    align-items:none;
    justify-content: space-evenly;
    height: 90vh;
  }
  .student{
    margin-right: 550px;
    margin-top: 60px;
  }


 
